<div id="container" layout="column" style="width:100%; height: 100%;" ng-cloak class="md-hue-3">
    <div id="header" layout="row">
        <md-toolbar layout="row" class="md-hue-1">
            <md-button id="menu" ng-click="app.toggleMenu()" hide-gt-sm aria-label="Menu" class="md-raised md-primary">
                <md-icon aria-label="menu" class="material-icons">menu</md-icon>
            </md-button>
            <h1>Bulbs</h1>
            <md-button ng-click="app.toggleScan()" class="md-raised md-primary">{{app.bulbService.scanning ? app.bulbService.scanStopMessage : app.bulbService.scanStartMessage}}</md-button>
            <md-button ng-click="app.doCrash()" class="md-raised md-primary">Crash</md-button>
            <md-button ng-click="app.openDevTools()" class="md-raised md-primary">Dev Tools</md-button>
        </md-toolbar>
    </div>
    <div id="content" layout="row">
        <!-- <menu> -->
        <bulb-menu>
        <ng-include src="'app/menu.html'"></ng-include>
        <!-- <device-list> -->
        <ng-include ng-show="app.menuService.getState() == 'device'" layout-fill src="'app/device-list/device-list.html'"></ng-include>
        <!-- <group> -->
        <ng-include ng-show="app.menuService.getState() == 'group'" layout-fill src="'app/group-list/group-list.html'"></ng-include>
    </div>
    <!-- <characteristic> -->
    <ng-include src="'app/characteristic/characteristic.html'"></ng-include>
</div>
