html > body {
  background-color: #fff;
}

#container {
  
}
#header {
  
}

#header button {
  margin: 32px 16px;
}
#header button#menu {
  margin: 32px 16px;
}
#content {
  height: 100%;
}


#content .red-slider {
  color: #ff0000;
}
#content .green-slider {
  
}
#content .blue-slider {
  
}
