nav {
  md-sidenav {
    min-width: 180px !important;
    width: 85vw !important;
    max-width: 190px !important;
    
    md-list-item {
      .active {
        background-color: #CFD8DC;
      }
      md-icon {
        color: #000;
      }
    }
    
  }
}
