<div ng-controller="listCtrl as list">
  <md-content flex id="content">
      <md-button ng-click="list.showCharacteristicsPanel()"  aria-label="Characteristic Toggle"> 
        <ng-md-icon icon="menu"></ng-md-icon>Show Characteristic
      </md-button>
      <md-list>
        <md-list-item ng-repeat="device in list.devices" ng-click="list.selectDevice(device)">
          <h3>{{device.uuid}}</h3>
          <p>{{device.state}}</p>
          <p>{{device.rssi}}</p>
        </md-list-item>
      </md-list>
  </md-content>
</div>
