<div ng-controller="group-listCtrl as groupList" id="group-list" ng-cloak>
    <md-toolbar class="md-hue-3" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span flex=""></span>
            <md-button class="md-icon-button" aria-label="add group" ng-click="groupList.groupService.add()">
                <md-icon>add</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-list class="list">
        <md-list-item ng-repeat="group in groupList.groupService.groups" class="list noright" layout-align="start center" arai-label="Group">
            <p>
                <md-input-container>
                    <input ng-model="group.name" ng-model-options="{ updateOn: 'mousedown blur' }" aria-label="group name" ng-change="groupList.updateGroupName(group)"/>
                </md-input-container>
            </p>
            <span ng-repeat="deviceUUID in group.devices">
                <span ng-if="$first">Devices:</span>
                <span ng-if="!$first">,
                </span>
                {{groupList.bulb.getDevice(deviceUUID).name}}
            </span>
            <div class="controls" layout="row" layout-align="start center">
                <md-menu>
                    <md-button md-menu-origin class="md-primary md-icon-button" aria-label="Add Devices" ng-click="groupList.openAddDeviceMenu($mdOpenMenu, $event, group)">
                        <md-icon aria-label="Add Devices">add</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            Select Device to Add
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-repeat="(uuid, device) in groupList.bulb.devices" ng-if="groupList.isDeviceInMenu(device, group)">
                            <md-checkbox 
                                ng-checked="groupList.isDeviceInGroup(group, device)" 
                                aria-label="{{device.name}}" 
                                ng-click="groupList.toggleDeviceToGroup(device, group, selected)">
                                {{device.name}} {{groupList.isDeviceDisabled(device, group)}}
                            </md-checkbox>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button ng-click="groupList.selectGroup(group)" class="md-primary md-icon-button" aria-label="Edit Characteristics">
                    <!-- <md-button ng-click="groupList.selectDevice(device)" class="md-primary md-icon-button" aria-label="Edit Characteristics" ng-disabled="device.state == 'connected' ? false : true"> -->
                    <md-icon aria-label="Edit Characteristics">edit</md-icon>
                    <md-tooltip md-direction="top">Edit Characteristics</md-tooltip>
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</div>
