html > body {
  background-color: #fff;
}

.green {
  color: #4CAF50;
}
.red {
  color: #F44336;
}

#container {}
#header {}
#header button {
  margin: 32px 16px;
}
#header button#menu {
  margin: 32px 16px;
}
#content {
  height: 100%;
}




#list {}
  
#list md-list {
  margin:0 8px;
}

#list md-input-container {
  margin: 2px 0;
  height: 30px;
}
#list md-list-item button {
    min-width: 42px;
}
#list md-icon {
  width: 30px;
  margin: 0;
}
#list md-list-item {
  border-bottom: 1px solid #efefef;
}





#list md-grid-list {
  margin: 8px;
}
#list md-grid-tile-header {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  
}
#list md-grid-tile-header md-input-container {
  height: 48px;
  padding: 0;
  margin: 0 0 0 4px;
  width: 100%;
}
#list md-grid-tile-header md-input-container input {
  margin: 12px 0;
  padding: 0 8px; 
}

#list .md-subhead {
  rgba(0, 0, 0, 0.54) font-size: 16px;
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 24px;
  padding-top: 0;
  font-size: 14px;
}









#list md-grid-tile-footer {
  height: 80px;
}







md-sidenav.characteristics .controls {
  padding: 10px;
}



#red-slider .md-thumb, 
#red-slider .md-thumb:after,
#red-slider  .md-track.md-track-fill, 
#red-slider  .md-focus-ring {
  border-color: rgb(255,0,0);
  background-color: rgb(255,0,0);
}
#green-slider .md-thumb, 
#green-slider .md-thumb:after,
#green-slider .md-track.md-track-fill, 
#green-slider .md-focus-ring {
  border-color: rgb(0,255,0);
  background-color: rgb(0,255,0);
}
#blue-slider .md-thumb, 
#blue-slider .md-thumb:after,
#blue-slider .md-track.md-track-fill, 
#blue-slider .md-focus-ring {
  border-color: rgb(0,0,255);
  background-color: rgb(0,0,255);
}
