@import 'colors';

html > body {
  background-color: #fff;
}
md-icon, span {
  &.green {
    color: $success;
  }
  &.red {
    color: $fail;
  }
}
#container {}
#header {}
#content {
  height: 100%;
}
